<% provide(:title, "作品一覧")%>
<main>
  <h3 class="title text-center my-5">作品一覧</h3>
  <div class="container">
    <div id='vue-template'>
    </div>
  </div>
</main>

<%= stylesheet_pack_tag "products/index"%>
<%= javascript_pack_tag "hello_vue" %>
<%= stylesheet_pack_tag "hello_vue"%>

<!--productsをvueに渡す-->
<%= content_tag :div,
   id: "productsIndex",
   data: {
    products:@products
   }.to_json do %>
<% end %>

<!--likeが多い順に並び替えたproductsをvueに渡す-->

<%= content_tag :div,
   id: "productsRanking",
   data: {
    products:@products_ranks
   }.to_json do %>
<% end %>

